[Unit]
Description=Socket daemon for the usbmux protocol used by Apple devices
Documentation=man:usbmuxd(8)

[Service]
ExecStart=/usr/local/sbin/usbmuxd --user usbmux --systemd
PIDFile=/usr/local/var/run/usbmuxd.pid
